@use "../helpers" as *;

.footer {
  padding-top: rem(50);
  padding-bottom: rem(10);
  background-color: var(--color-bg-light);

  @include laptop-above {
    padding-bottom: rem(18);
  }

  @include tablet-above {
    padding-top: fluid(100, 50, 999, 767);
  }

  &__inner {
    display: grid;
    row-gap: rem(50);
    padding-inline: rem(10);

    @include tablet-above {
      padding-inline: rem(20);
    }

    @include mobile-above {
      row-gap: rem(70);
    }

    @include tablet-above {
      row-gap: rem(55);
    }

    @include laptop-above {
      row-gap: rem(100);
    }

    @include tablet {
      padding-inline: fluid(64, 10, 767, 479);
    }
  }

  &__body {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @include tablet-above {
      flex-direction: row;
    }

    &--left {
      max-width: rem(325);

      @include mobile-s-above {
        max-width: rem(385);
      }

      @include tablet-above {
        max-width: rem(312);
      }

      @include tablet-above {
        max-width: fluid(465, 312, 1200, 999);
      }
    }

    &--right {
      display: grid;

      @include tablet-above {
        max-width: fluid(580, 270, 999, 767);
      }

      @include laptop-above {
        display: flex;
        justify-content: space-between;
        column-gap: rem(40);
        max-width: rem(580);
      }
    }
  }

  &__navigation {
    width: 100%;
    display: flex;
    justify-content: space-between;

    &-list-title {
      margin-bottom: rem(30);
    }

    &-list {
      display: grid;
      row-gap: rem(20);
      font-size: rem(16);
      font-weight: 300;
    }

    &-link {
      position: relative;

      &::before {
        @include abs-center;
        height: rem(35);
        width: 100%;

        content: "";
      }
    }
  }

  &__quote {
    margin-top: rem(40);

    @include tablet-above {
      margin-top: 0;
    }

    @include laptop-above {
      max-width: rem(270);
    }

    @include desktop-above {
      margin-top: rem(79);
    }

    &-text {
      font-size: rem(16);
      font-weight: 300;
      font-style: italic;
    }

    &-footer {
      margin-top: rem(10);
      display: flex;
      column-gap: rem(5);
      font-size: rem(14);
      font-weight: 300;

      @include tablet-above {
        margin-top: rem(20);
      }

      @include mobile-above {
        flex-direction: column;
      }
    }

    &-name,
    &-company {
      font-style: normal;
    }
  }

  &__info {
    margin-top: fluid(50, 40, 479, 359);
    display: flex;
    flex-direction: column;

    @include laptop-above {
      margin-top: 0;
    }

    &-title {
      text-align: center;
      margin-bottom: fluid(20, 10, 479, 359);

      @include tablet-above {
        margin-bottom: rem(50);
        text-align: left;
      }
    }

    &-description {
      text-align: center;
      font-size: rem(13);
      font-weight: 300;

      @include tablet-above {
        text-align: left;
      }
    }

    &-body {
      &-inner {
        margin-top: fluid(20, 10, 479, 359);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: rem(40);

        @include mobile-s-above {
          flex-direction: row;
          flex-wrap: wrap;
          column-gap: rem(29);
        }

        @include tablet-above {
          row-gap: rem(20);
          align-items: end;
        }

        @include tablet-above {
          max-width: 100%;
          flex-direction: column;
          justify-content: start;
        }
      }

      &-contacts {
        display: flex;
        align-items: center;
        column-gap: rem(27);

        @include mobile-above {
          column-gap: rem(43);
        }

        @include tablet-above {
          margin-right: rem(37);
        }
      }

      &-soc1als {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: rem(20);

        @include tablet-above {
          margin-right: rem(23);
        }
      }
    }

    &-logo {
      margin: 0;
      align-self: center;
    }

    &-address {
      display: grid;
      align-items: center;
      row-gap: rem(10);
    }

    &-tel,
    &-email {
      position: relative;
      display: flex;
      align-items: center;
      column-gap: rem(10);
      font-size: rem(14);
      font-weight: 300;

      &::before {
        position: absolute;

        content: "";
        @include flex-center;

        height: rem(25);
        width: 100%;
      }
    }
  }

  &__extra {
    display: flex;
    justify-content: space-between;

    @include tablet-above {
      justify-content: unset;
      column-gap: fluid(208, 55, 1200, 999);
    }
  }

  &__copyright {
    font-size: rem(16);
    font-weight: 300;
  }

  &__payments {
    display: flex;
    align-items: center;
    column-gap: rem(20);
  }
}
