@use "../helpers" as *;

.header {
  padding-top: rem(30);
  padding-bottom: rem(28);

  &__inner {
    min-height: rem(142);
    display: flex;
    justify-content: space-between;
  }

  &__menu {
    display: flex;
    align-items: center;

    &-list {
      display: flex;
      align-items: center;
      column-gap: rem(70);
    }

    &-link {
      display: flex;
      align-items: center;
      height: rem(48);
    }
  }

  &__actions {
    --lastActionMarginLeft: #{rem(80)};
  }
}
