@use "../helpers" as *;

.review-card {
  display: grid;
  row-gap: rem(10);

  @include mobile-above {
    max-width: rem(280);
  }

  &__text {
    font-weight: 300;
    font-style: italic;
  }

  &__name {
    font-weight: 600;
    font-style: normal;
    font-size: rem(20);
  }
}
