@use "../helpers" as *;

.title {
  line-height: 1.2;
  font-size: rem(40);
  text-align: center;

  @include mobile {
    font-size: fluid(40, 24, 479, 359);
  }

  &--small {
    font-size: rem(24);
    text-align: left;
    font-family: var(--font-family-accent);

    @include mobile {
      font-size: rem(24);
    }
  }
}
