@use "./functions" as *;

$desktop: 1200px;

$laptop-above: 1001px;
$laptop: 1000px;

$tablet-above: 761px;
$tablet: 768px;

$mobile-above: 481px;
$mobile: 480px;

$mobile-s-above: 361px;
$mobile-s: 360px;

@mixin laptop-above {
  @media (min-width: $laptop-above) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: $laptop) {
    @content;
  }
}

@mixin tablet-above {
  @media (min-width: $tablet-above) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $tablet) {
    @content;
  }
}

@mixin mobile-above {
  @media (min-width: $mobile-above) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

@mixin mobile-s-above {
  @media (min-width: $mobile-s-above) {
    @content;
  }
}

@mixin mobile-s {
  @media (max-width: $mobile-s) {
    @content;
  }
}

@mixin hover {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }

  @media (hover: none) {
    &:active {
      @content;
    }
  }
}
